# Ignore everything by default
**

## Main application
!api.py
!app.py
!requirements.txt
!modules/
!modules/__init__.py
!modules/whisper_integration.py
!sudo-nopasswd

## Tests
!testing/
!testing/__init__.py
!testing/test_app.py
!testing/test_cuda.py

# .env files
!.env
!.env.example

## .wav file for testing the application
!uploads
!uploads/preamble.wav

# whisper model for testing
!whisper-model
!whisper-model/medium.en.pt